$color-primary:#ef3a5d;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

.card-container {
  margin: 16px 8px !important;
  padding: 0 !important;
  box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2), 1px 2px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.virtual-viewport {
  height: 530px;
}

.virtual-item {
  padding: 1px, 0px;
}

.logo-img{
  max-width: 100px;
  max-height: 100px;
}

.info-container {
  padding: 8px 8px 8px 8px;
  word-break: break-all;
}

.time-label{
  position: absolute;
  bottom: 3px;
  right: -4px;
}

.is-assisted{
  background-color: #eeebeb;
}

.expiration-date{
  font-style: italic;
  color: #ef3a5d;
}

.answers-count{
  color: white;
  background-color: #ef3a5d;
  padding: 4px;
  border-radius: 95px;
  width: 20px;
  text-align: center;
}

.time-label {
  font-size: 9px;
  padding-right: 8px;
}

.user-name {
  font-weight: bold;
  padding-right: 8px;
}

.reply-icon {
  color: $color-primary !important;
}

.block-with-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}