<div fxFlexFill class="general-container" fxLayout="column">

  <div *ngIf="this.problemList.length === 0" class="principal-logo-container">
    <div class="principal-logo-container">
      <img class="logo-img" src="assets/img/logo-lg.png" alt="">
    </div>

    <div *ngIf="currentProblem !== null">
      <div>Tu pedido de consejo!</div>
      <mat-card class="card-container" fxLayout="row" (click)="goToConversation(currentProblem.id)">
        <div fxLayout="row" fxFlex class="info-container">
          <span class="truncate">{{getTextProblem(currentProblem.message)}}</span>
          <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <span class="answers-count" *ngIf="answersCount > 0">{{answersCount}}</span>
            <i class="material-icons reply-icon">
              keyboard_arrow_right
            </i>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxLayout="column" fxFlex>
    <cdk-virtual-scroll-viewport *ngIf="this.problemList.length > 0" itemSize="50" class="virtual-viewport">
      <div class="principal-logo-container">
        <img class="logo-img" src="assets/img/logo-lg.png" alt="">
      </div>
      <div *ngIf="currentProblem !== null">
        <div>Tu pedido de consejo!</div>
        <mat-card class="card-container" fxLayout="row" (click)="goToConversation(currentProblem.id)">
          <div fxLayout="row" fxFlex class="info-container">
            <span class="truncate">{{getTextProblem(currentProblem.message)}}</span>
            <div fxLayout="row" fxFlex fxLayoutAlign="end center">
              <span class="answers-count" *ngIf="answersCount > 0">{{answersCount}}</span>
              <i class="material-icons reply-icon">
                keyboard_arrow_right
              </i>
            </div>
          </div>
        </mat-card>
      </div>
      <div *ngIf="this.problemList.length > 0">Aconseja!</div>
      <mat-card class="card-container virtual-item" fxLayout="row" (click)="goTo(problem)"
        *cdkVirtualFor="let problem of this.problemList" [ngClass]="{
          'is-assisted': problemIsAssistedByMe(problem)}">
        <div fxLayout="column" fxFlex>
          <div fxLayout="row" class="info-container content">
            <span class="user-name">{{problem.requester}}:</span>
            <span fxFlex class="truncate">{{getTextProblem(problem.message)}}</span>
            <div fxLayout="row" fxLayoutAlign="end center">
              <i class="material-icons reply-icon">
                keyboard_arrow_right
              </i>
            </div>
          </div>
          <div fxLayout="column">
            <div class="time-label">
              <span class="expiration-date">Tiempo restante {{problem.expirationDinamyDate}}</span>
            </div>
            <div fxLayout="row" fxFlex *ngIf="problem.expirationValue !== undefined">
              <mat-progress-bar mode="determinate" value="{{problem.expirationValue}}"></mat-progress-bar>
            </div>
          </div>
        </div>
      </mat-card>

    </cdk-virtual-scroll-viewport>
    <div *ngIf="this.problemList.length <= 0">
      <span>Por suerte no existen casos que atender! </span>
    </div>
  </div>

  <div fxLayout="row" class="button-container" fxLayoutAlign="center center" color="primary">
    <button mat-raised-button color="primary" class="custom-buttom" (click)="goToHome()">Volver al home</button>
  </div>
</div>
