$color-primary:#ef3a5d;

.card-container {
  margin: 16px 8px !important;
  padding: 0 !important;
  box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2), 1px 2px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.virtual-viewport {
  height: 400px;
}

.virtual-item {
  padding: 1px, 0px;
}

.info-container {
  padding: 8px 8px 8px 8px;
  // max-width: 312px;
  word-break: break-all;
}

.answers-count{
  color: white;
  background-color: #ef3a5d;
  padding: 4px;
  border-radius: 95px;
  width: 20px;
  text-align: center;
}

.time-label {
  font-size: 12px;
  padding-right: 8px;
}

.user-name {
  font-weight: bold;
  padding-right: 8px;
}

.reply-icon {
  color: $color-primary !important;
}

.block-with-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}