<div fxFlexFill class="general-container" fxLayout="column">

  <div fxLayout="column" fxFlex="20" fxLayoutAlign="center start">
    <img fxFlex="40" src="assets/img/logo-lg.png" alt="">
  </div>

  <div fxLayout="column" fxFlex>
    <cdk-virtual-scroll-viewport *ngIf="this.problemList.length > 0" itemSize="50" class="virtual-viewport">
      <mat-card class="card-container virtual-item" fxLayout="row" (click)="goToAdviceForm(problem.id)"
        *cdkVirtualFor="let problem of this.problemList">
        <div fxLayout="column" fxFlex>
          <div fxLayout="row" fxFlex class="info-container">
            <span class="user-name">{{problem.requester.name}}:</span>
            <span>{{problem.text}}</span>
            <div fxLayout="row" fxFlex fxLayoutAlign="end center">
              <i class="material-icons reply-icon">
                reply
              </i>
            </div>
          </div>
          <div fxLayout="column">
            <div fxLayout="row" fxFlex fxLayoutAlign="end center" class="time-label">
              <span>{{render | date:'HH:mm:ss'}}</span>
            </div>
            <div fxLayout="row" fxFlex>
              <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
              <mat-progress-bar mode="determinate" value="{{value}}"></mat-progress-bar>

            </div>

          </div>
        </div>
      </mat-card>

    </cdk-virtual-scroll-viewport>
    <div *ngIf="this.problemList.length <= 0">
      <span>Por suerte no existen casos que atender! </span>
    </div>
  </div>

  <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="button-container">
    <button mat-raised-button color="primary" (click)="goToHome()">Volver al home</button>
  </div>
</div>
