.info-card-container {
  background-color: #f4d249;
  margin-bottom: 16px;
  word-break: break-all;
}

.problem-label {
  font-weight: bold;
}

.md-container{
  min-height: 100%;
}

.logo-container{
  max-height: 50px;
}