<div fxFlexFill class="general-container" fxLayout="column">

  <div fxLayout="column" fxFlex="20" fxLayoutAlign="center start">
    <img fxFlex="40" src="assets/img/logo-lg.png" alt="">
  </div>

  <div>
    <mat-card class="info-card-container">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span>{{problem.requester.name}} necesita ayuda con:</span>
        <h2 class="problem-label">{{problem.text}}</h2>
      </mat-card-content>
    </mat-card>

    <form fxLayout="column">
      <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>¿Como te llamas?</mat-label>
          <input name="username" [(ngModel)]="username" matInput placeholder="Ingresa solo tu nombre">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxFlex>

        <mat-form-field fxFlex>
          <textarea matInput placeholder="Textarea" rows="5" name="message" [(ngModel)]="message" maxlength="256"
            placeholder="Escribe algo genuino"></textarea>
          <mat-hint align="start"><strong>Tu consejo es 100% anonimo</strong> </mat-hint>
          <mat-hint align="end">{{message.length}} / 256</mat-hint>
        </mat-form-field>

      </div>
    </form>
  </div>

  <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between center"></div>
  <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
    <button mat-raised-button color="primary" (click)="sendMessage()" [disabled]="!isFormComplete()">Enviar
      consejo</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
    <button mat-raised-button color="primary" (click)="goToAdviceList()">Volver a la lista</button>
  </div>
</div>
