<div fxFlexFill class="problem-container" fxLayout="column">

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="principal-logo-container">
    <img fxFlex="100" src="assets/img/woman.png" alt="">
  </div>

  <div class="md-container" fxLayout="column" fxFlex fxLayoutAlign="center none">
    <div fxLayout="row" fxFlex>
      <mat-form-field class="problem-input-container" fxFlex appearance="outline">
        <mat-label>¿Que esta pasando?</mat-label>
        <input name="problem" [(ngModel)]="problem" matInput placeholder="Me despidieron del trabajo" maxlength="500">
        <mat-hint>Tu pedido es 100% anonimo</mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="showAllOptions" fxLayout="row">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>¿Como te llamas?</mat-label>
        <input name="username" [(ngModel)]="username" matInput placeholder="Ingresa solo tu nombre">
      </mat-form-field>
    </div>

    <div *ngIf="!showAllOptions" fxLayout="row" fxLayoutAlign="center center" class="problem-form-button help-request-container">
      <button mat-raised-button color="primary" class="custom-buttom" (click)="activateAllOptions()"
        [disabled]="!isProblemDefine()">Pedir consejos
        anonimos</button>
    </div>

    <div *ngIf="!showAllOptions" fxLayout="row" fxLayoutAlign="center center" class="problem-form-button">
      <button mat-stroked-button color="primary" class="custom-buttom" (click)="goToAdvice()">Quiero aconsejar</button>
    </div>

    <div *ngIf="showAllOptions" fxLayout="row" fxLayoutAlign="center center"
      class="problem-form-button">
      <button mat-raised-button color="primary" class="custom-buttom" (click)="sendProblem()"
        [disabled]="!isFormComplete()">Pedir consejos
        anonimos</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="terms-and-conditions-option-container">
      <mat-checkbox [(ngModel)]="termsAndConditionsOption">
        <u (click)="goToTermsAndConditions()">Acepto terminos y condiciones!</u>
      </mat-checkbox>
    </div>

  </div>
</div>
