<div fxFlexFill class="general-container" fxLayout="column">

  <div fxLayout="column" fxFlex="80" fxLayoutAlign="start center">
    <img fxFlex="80" src="../../assets/img/woman.png" alt="">
  </div>

  <div>
    <div fxLayout="row">
      <mat-form-field fxFlex *ngIf="showInput" appearance="outline">
        <mat-label>¿Que esta pasando?</mat-label>
        <input matInput placeholder="Me despidieron del trabajo">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
      <button mat-raised-button (click)="goToProblemForm()" color="primary">
        <i class="material-icons">
          help
        </i>
        Pedir consejo</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="button-container" (click)="goToAdvice()">
      <button fxLayout="row" mat-raised-button color="primary">
        <i class="material-icons">
          thumbs_up_down
        </i>
        Quiero aconsejar</button>
    </div>
  </div>
</div>
