
.principal-logo-container {
    // max-width: 328px !important;
    max-height: 324px !important;
    // min-width: 328px !important;
    min-height: 324px !important;
    // width: 328px !important;
    height: 324px !important;
  }
  
  .terms-and-conditions-option-container {
    padding-top: 16px;
  }
  
  .problem-container {
    padding: 16px 16px 32px 16px;
  }
  
  .mat-stroked-button{
    border-color: #ef3a5d !important;
    border: solid 2px !important;
  }

  .help-request-container {
    padding: 20px 0 !important;
  }